body {
  margin: 0px;
  background:url("https://img.freepik.com/premium-vector/abstract-black-technology-concept-graphic-design-vector-template-dark-background_88343-6181.jpg");
}

canvas {
  background-color: none;
}

img {
  display: none;
}
